#main {
    border: 1px solid black;
    width: 80vw;
    height: 7em;
    display: flex;
    padding: 20px;
    display: none;
    margin-left: 1em;
    margin-bottom: 1em;
}

#avatar {
    border-radius: 50%;
}

.texto {

    margin-left: 1em;
    width: 90vw;
}

#nuevosUsuarios {
    
    gap: 1em;
}