@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

body{
    background: linear-gradient(to right, #3b434a, #212E38);
    font-family: 'Lato', sans-serif;
    width: 100vw;
}

.todo {
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
}

#justDo {
    color: white;
    font-size: 7em;
}

#text {
    font-size: 1.2em;
    font-family: 'Lato', sans-serif;
    background-color: #101418;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    height: 1.2em;
    padding: 7px;
    margin-right: 0px;
    border-right: 0px;
    width: 20em;
}

.forum {
    display: flex;
}

#button {
    margin-left: 0px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-left: 0px;
    font-family: 'Lato', sans-serif;
    font-size: 1em;
}

#tarea {
    width: fit-content;
    background-color: #101418;
    color: white;
    display: flex;
    height: 2.5em;
    border: 1px solid black;
    border-radius: 25px;
    padding: 1px;
    margin-top: 2em;
    margin-left: 40vw;
    margin: 2em auto;
    display: none;
}

#chulito {
    width: 2em;
    height: 2em;
    background-color: white;
    border-radius: 50%;
    margin-left: 5em;
    margin-top: 0.2em;
}

#chulitoImg {
    width: 2em;

}

#eliminar {
    width: 2em;
    height: 2em;
    background-color: white;
    border-radius: 50%;
    margin-left: 0.5em; 
    margin-top: 0.2em;
    margin-right: 0.5em;
}

#eliminarImg {
    width: 1.5em;
    margin-left: 4px;
    margin-top: 3px;

}

#nombreTarea {
    margin-top: 0.1em;
    margin-left: 0.4em;
    font-size: 1.7em;
}
